/* id = # class = . */

html, body {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
    margin-top: auto;
}

.planter {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;
}

.plant {
    flex-grow: 1;
    align-items: flex-end;
    position: relative;
}

.username {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-overflow: ellipsis;
    color: darkgreen;
    position: absolute;
    top: 0px;
    /* font-size: 10px; */
    font-size: 1vw;
    font-weight: bolder;
    width: 100%;
}

img {
    width: 100%;
}
