<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link href="css/style.css" type="text/css" rel="stylesheet" />-->
    <title>Time to Grow</title>
</head>

<script>
    // const event = new EventSource("http://127.0.0.1:8000/event")
    //
    // event.onmessage = function(event){
    //     console.log("new data", event.data)
    // }



</script>

<body>



<div class="planter">
        <div class="plant" id="1"></div>
        <div class="plant" id="2"></div>
        <div class="plant" id="3"></div>
        <div class="plant" id="4"></div>
        <div class="plant" id="5"></div>
        <div class="plant" id="6"></div>

    </div>

</body>
</html>
