<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to Grow</title>
</head>
<body>
    <a href="https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=ltw2005dvoqatipp93bk6in2f48k43&redirect_uri=http://localhost:8000/oauth&scope=chat%3Aread+user%3Aedit+channel%3Amanage%3Aredemptions">Connect with Twitch</a>
chat:read
user:edit
channel:manage:redemptions
user:read:subscriptions
user:read:follows
moderator:manage:chat_settings
moderator:read:followers

scope=chat%3read+user%3edit+channel%3manage%3redemptions

</body>
</html>
